/** @format */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Inter", sans-serif;
}

body {
	background-color: #282d35;
}

.logo {
	width: 29px;
	height: 29px;
	margin-right: 7px;
}

.navBar > h3 {
	font-size: 22.25px;
	font-weight: 700;
	color: #61dafb;
	margin-right: auto;
}

.navBar {
	display: flex;
	padding: 30px 26px;
	align-items: center;
	background-color: #21222a;
}

.course {
	color: white;
}

.title {
	font-size: 40px;
	font-weight: 700;
}

.list {
	font-size: 16px;
	font-weight: 400;
	padding: 36px 30px 0;
}

.list > li {
	padding: 10px 0;
}
.list > li::marker {
	color: #61dafb;
}

.mainContent {
	padding: 57px 26px;
	color: white;
	position: relative;
	overflow: hidden;
	background-image: url(./assets/reactjs-icon.png);
	background-repeat: no-repeat;
	background-position: calc(100% + 140px) 75%;
}
